.calendar_entry
  %p= speaker
  %p.small= topic.empty? ? "To be announced" : topic
  .timespan.clearfix.small
    .pull-left.text-success= start_time.strftime("%H:%M")
    to
    .pull-right.text-danger= end_time.strftime("%H:%M")
