.col-md-8.col-md-offset-2
  %h2
    About
    %small summer school objectives
  %p The summer school is principally intended for students and researchers from areas related to Bioinformatics / Computational Biology, Computer Science, Physics, Applied Math, or related field, having an interest in RNA and Synthetic Biology research. The summer school will last 5 days, July 6-10, 2014, each day consisting of a morning lecture (3 hours) and an afternoon invited talk (2 hours). The first day of the 5-day summer school will consist of remedial tutorials on biology/chemistry and computer science, to improve integration of graduate students and postdocs from both the life sciences or computational sciences. Lectures on the remaining four days will focus on current topics in RNA and Synthetic Biology.
