.row
  .col-md-8.col-md-offset-2
    %h2 About this event
    %h4.event_host
      This event is being hosted courtesy of the Clote Lab at Boston College, in
      %a{ href: "/location" } Boston, MA (USA)
    %p The objective of this summer school is to provide an overview of the biology/chemistry and computational methods related to RNA, with focus on synthetic biology.
    %p The summer school is principally intended for students and researchers from areas related to Bioinformatics / Computational Biology, Computer Science, Physics, Applied Math, or related field, having an interest in RNA and Synthetic Biology research. The summer school will last 5 days, July 6-10, 2014, each day consisting of a morning lecture (3 hours) and an afternoon invited talk (2 hours). The first day of the 5-day summer school will consist of remedial tutorials on biology/chemistry and computer science, to improve integration of graduate students and postdocs from both the life sciences or computational sciences. Lectures on the remaining four days will focus on current topics in RNA and Synthetic Biology.

    %h3 Venue
    %p The summer school will be held at Boston College, in Chestnut Hill, MA. Boston College is located in a residential area about 5 miles west of downtown Boston, reachable by the subway (MBTA GREEN B line).

    %h3 Important Dates
    %p
      %dl.dl-horizontal
        %dt Registration deadline
        %dd June 6, 2014
        %dt Summer school
        %dd July 6-10, 2014

    %h3 Fees and Registration
    %p
      Registration fees will be $100 per person. The registration portal is made available at the
      %a{ href: "https://commerce.cashnet.com/bcBIOLOGY", role: "button", target: "_blank" } following location
      through CashNet, officially managed by Boston College. The number of spots available is limited, so please register quickly!

    %h3 Contacts
    %p
      %ul
        %li
          %a{ href: "mailto:clote@bc.edu" } Peter Clote, Biology, Boston College
        %li
          %a{ href: "mailto:dotu@bc.edu" } Ivan Dotu, Computer Science, Universitat de Barcelona
        %li
          %a{ href: "mailto:sentere@bc.edu" } Evan Senter, Ph.D. student
        %li
          %a{ href: "mailto:juan.garcaamartan@bc.edu" } Juan Antonio Garcia Martin, Ph.D. student
