.row
  .col-md-8.col-md-offset-2
    #main_jumbotron.jumbotron.text-center
      %h1 RNA Summer School
      %h2
        Clote Lab at Boston College
        %small July 6-10, 2014
      %p
        %h3 Final registration deadline extended to June 20th!
      %p.lead The objective of this summer school is to provide an overview of the biology/chemistry and computational methods related to RNA, with focus on synthetic biology.
      %p
        .btn-group
          %a.btn.btn-lg.about_event{ href: "/about", role: "button" } About this event
          %a.btn.btn-lg.btn-danger{ href: "https://commerce.cashnet.com/bcBIOLOGY", role: "button", target: "_blank" } Register now!
      %p
        %a.poster_link{ href: "/assets/rna_summer_school/pdf/Summer School 2014.pdf", target: "_blank" } Share the summer school flyer!
