%ul.nav.nav-justified
  %li.active
    %a{:href => "#"} Home
  %li
    %a{:href => "#"} Schedule
  %li
    %a{:href => "#"} Location
  %li
    %a{:href => "#"} Resources
  %li
    %a{:href => "#"} About
