%ul.nav.nav-justified
  %li
    %a.home_tab{:href => "/"} Home
  %li
    %a.schedule_tab{:href => "/schedule"} Schedule
  %li
    %a.location_tab{:href => "/location"} Location
  %li
    %a.resources_tab{:href => "/resources"} Resources
  %li
    %a.about_tab{:href => "/about"} About
:javascript
  $(function() {
    $(".nav li a.#{@tab}_tab").parent().addClass("active");
  });