.background_image
  %img{ src: "rna_summer_school/images/trna_cartoon.png" }
.stellar
  %img#rnabow{ src: "rna_summer_school/images/rnabows.png", "data-stellar-ratio" => ".75" }
%ul#parallax_mouse
  %li.layer{ "data-depth" => ".05" }
    %img.top_left{ src: "rna_summer_school/images/ring_transparent.png" }
    %img.top_right{ src: "rna_summer_school/images/ring_transparent.png" }
