.stellar
  %img#rnabow{ src: "rna_summer_school/images/rnabows.png", "data-stellar-ratio" => ".5" }
%ul#parallax_mouse
  %li.layer{ "data-depth" => ".05" }
    %img.top_left{ src: "rna_summer_school/images/hammerhead_transparent.png" }
    %img.top_right{ src: "rna_summer_school/images/purine_transparent.png" }
    %img.bottom_left{ src: "rna_summer_school/images/spliced_leader_transparent.png" }
    %img.bottom_right{ src: "rna_summer_school/images/trna_transparent.png" }
