.row
  .col-md-8.col-md-offset-2
    %h2
      Summer School Schedule
      %small July 6-10, 2014
.row.text-center
  .col-md-4.calendar_column
    %h3
      Sunday
      %small 7/6, parallel sessions
  .col-md-2.calendar_column
    %h3
      Monday
      %small 7/7
  .col-md-2.calendar_column
    %h3
      Tuesday
      %small 7/8
  .col-md-2.calendar_column
    %h3
      Wednesday
      %small 7/9
  .col-md-2.calendar_column
    %h3
      Thursday
      %small 7/10
.row.text-center
  - 6.times do |column_index|
    .col-md-2.calendar_column
      - @calendar[column_index].each do |event|
        = haml :"_calendar_entry", locals: event
