body {
  padding-bottom: 30px;
}
.background_image {
  position: relative;
}
.background_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 600px;
  margin-top: 70px;
  margin-left: -200px;
  z-index: -1;
}
#rnabow {
  position: absolute;
  opacity: .1;
  z-index: -5;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 75%;
}
ul#parallax_mouse {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
ul#parallax_mouse li {
  position: relative;
}
ul#parallax_mouse li img {
  position: absolute;
  opacity: .4;
  width: 10%;
}
.top_left {
  top: 10px;
  left: 10px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.top_right {
  top: 10px;
  right: 10px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
}
#main_jumbotron {
  position: relative;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 12px;
  background: -moz-linear-gradient(-45deg,  rgba(245,246,246,0.25) 0%, rgba(219,220,226,0.25) 21%, rgba(184,186,198,0.25) 49%, rgba(221,223,227,0.25) 80%, rgba(245,246,246,0.25) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(245,246,246,0.25)), color-stop(21%,rgba(219,220,226,0.25)), color-stop(49%,rgba(184,186,198,0.25)), color-stop(80%,rgba(221,223,227,0.25)), color-stop(100%,rgba(245,246,246,0.25))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(245,246,246,0.25) 0%,rgba(219,220,226,0.25) 21%,rgba(184,186,198,0.25) 49%,rgba(221,223,227,0.25) 80%,rgba(245,246,246,0.25) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(245,246,246,0.25) 0%,rgba(219,220,226,0.25) 21%,rgba(184,186,198,0.25) 49%,rgba(221,223,227,0.25) 80%,rgba(245,246,246,0.25) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(245,246,246,0.25) 0%,rgba(219,220,226,0.25) 21%,rgba(184,186,198,0.25) 49%,rgba(221,223,227,0.25) 80%,rgba(245,246,246,0.25) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(245,246,246,0.25) 0%,rgba(219,220,226,0.25) 21%,rgba(184,186,198,0.25) 49%,rgba(221,223,227,0.25) 80%,rgba(245,246,246,0.25) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40f5f6f6', endColorstr='#40f5f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
div.jumbotron .about_event {
  background-image: linear-gradient(-150deg, #563d7c 0, #6f5499 100%);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  color: white;
}
div.jumbotron .about_event:hover {
  background-image: linear-gradient(30deg, rgba(86, 61, 124, 0.9) 0, rgba(111, 84, 153, 0.9) 100%);
}
div.jumbotron > h1 {
  color: rgba(66, 41, 104, 1);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
div.jumbotron > h2 {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
  font-weight: 300;
}
div.jumbotron > p.lead {
  margin: 30px auto;
  text-align: justify;
}
.bc_map {
  margin-top: 20px;
}
.left_no_pad {
  padding-left: 0;
}
.right_no_pad {
  padding-right: 0;
}
.calendar_column > h3:first-child {
  margin-bottom: 30px;
}
.calendar_column .calendar_entry {
  cursor: pointer;
  position: relative;
  padding: 10px 10px 35px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
.calendar_column .calendar_entry:hover {
  background: linear-gradient(-30deg, rgba(106, 81, 144, 0.1) 0, rgba(131, 104, 173, 0.1) 100%);
  border: 1px solid #ccc;
}
.calendar_column .calendar_entry p.small {
  font-size: 92.5%;
}
.calendar_column p:first-child {
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
}
.calendar_entry .timespan {
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
  background-color: #fafafa;
  color: #666;
  padding: 2px 0;
  font-family: 'Roboto', sans-serif;
}
.calendar_entry:hover .timespan {
  background: linear-gradient(30deg, rgba(106, 81, 144, 0.1) 0, rgba(131, 104, 173, 0.1) 100%);
  color: black;
}
.calendar_entry .timespan div[class*=text] {
  font-size: 110%;
  font-weight: bold;
}
.calendar_entry .timespan .pull-left {
  margin-left: 10px;
}
.calendar_entry .timespan .pull-right {
  margin-right: 10px;
}
h4.modal-title + h6.modal-title {
  margin-top: 10px;
}
h6.modal-title {
  margin-bottom: 5px;
}
h6.modal-title:last-child {
  margin-bottom: 0;
}
.modal-body h4 {
  margin-bottom: 20px;
}
.location address, .event_host + p {
  margin-top: 40px;
}
